[*.cs]

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.CA1002.severity = none

dotnet_diagnostic.CA1031.severity = none

dotnet_diagnostic.CA9998.severity = none